@import 'nav';

body{
    $primaryColor: rgb(113, 113, 65);
    $secondaryColor: rgb(62, 181, 88);
    background-color: $primaryColor;
    color: $textColor;
}

@mixin bordered($color, $width){
    border: $width $color solid;
    border-radius: $width;
    padding: $width;
    margin: $width;
}


@mixin important-text{
    color: brown;
    font-size: 25px+2;
    font-weight: bold;
}

.ozel-div{
    background-color: $secondaryColor;
    color: $textColor;
    @include bordered(red, 4px);

}

.ozel-div2{
    @include bordered(blue, 5px);
    @include important-text;
}

%button-basic{
    border: 2px red solid;
    padding: 15px 20px;
    text-align: center;
    font-size: 20px-1;
    cursor: pointer;
    background-color: transparent;

    &:hover{
        background-color: green;
        color: white;
        border: none;
        transition: 2s;
    }
}


.signin{
    @extend %button-basic;
}

.signup{
    @extend %button-basic;
    margin-left: 10px*2;
    box-shadow: 0 0 10px gray;
}

@for $value from 1 to 6{

    @if ($value < 2 ){
        .ozelp-#{$value}{
            background-color: antiquewhite;
            color: red;
            padding: 10px;
            margin: 10px;
        }
    } @else if($value == 4){
        .ozelp-#{$value}{
            background-color: antiquewhite;
            color: gold;
        }
    } @else {
        .ozelp-#{$value}{
            background-color: antiquewhite;
            color: blue;
            padding: 20px;
            margin: 20px;
        }
    }

   
}

$counter: 1;
@while $counter < 6 {
    .ozelp-#{$counter}{
        font-size: 20px;
        font-weight: bold;
        border-radius: 4px;
    }
    $counter: $counter + 1;
}


$pListesi: 5,3,4;

@each $item in $pListesi{
    .ozelp-#{$item}{
        box-shadow: 0 0 10px white;
        &:hover{
            box-shadow: 0 0 10px black;
        }
    }
}